.tahhjud{
    background-image: url(images/shutterstock_1739437532-Saying-the-Tahajjud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* // <uniquifier>: Use a unique and descriptive class name */

